
<body style="background-color: cadetblue;">
<div style="position: relative; left: 25%;top: 150px;">
<div class="example-button-row" style="height: 40%;">
 
  <button mat-fab color="primary" 
  style="display: block; width: 50%; margin-bottom: 75px; height: 100px;"
  (click)="fn('IOgretim')"><h1>IOgretim</h1></button>
</div>



<div class="example-button-row">
 
  <button mat-fab color="primary" 
  style="display: block; width: 50%;height: 100px"   (click)="fn('IIOgretim')">
    <h1>IIOgretim</h1></button>
</div>


</div>
</body>