<style>
    .AA {
 
  color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {color: red;}
  25% {color: yellow;}
  50%{color:blueviolet}
  75% {color: brown;}
  100%{color:darkslategray}
}
</style>
<body  >


  <iframe width="0" height="0" src="https://www.youtube.com/embed/abo2CpG7ov4?rel=0;&autoplay=1" 
  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
   allowfullscreen></iframe>
  
  <!-- <audio id="myAudio"> -->
    
    <!-- <source src="../../../assets/sounds/evil.mp3" type="audio/mpeg">
    
  </audio> -->
 
  <!-- <iframe  src="../../../assets/sounds/evil.mp3?autoplay=1"
   
  ></iframe> -->
  
<img src="../../../assets/images/pagenotfound.png"
 style=" background-size: cover; background-repeat: no-repeat;" 
 width="100%" height="100%" alt="...">
 <div style="position: absolute; top: 170px; color: red; left: 48%;">
    
<h1>Sayfayı Bulunmadı</h1>
<h2 id="konu" class="AA">Ana Sayfaya yönlendirlenyorsunuz!!!!!!</h2>
 <p id="counter" style="color: blue; font-size: 120px; font-weight: bolder;" class="AA">{{counter}}</p>
</div>

</body>