<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Öğrenci Bilgileri</a>
    <button class="navbar-toggler collapsed"
            type="button" data-toggle="collapse"
            data-target="#navbarsExample01"
            aria-controls="navbarsExample01"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link"
                   href="anasistem/isler/ogrenciIsleriMenue/ogrencinumarasi/ogrencibilgileri/">
                    Ana Sayfa <span class="sr-only">(current)
                </span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com"
                   id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Tıklayınız</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" (click)="sonucular()">Dönem sonuçları</a>
                    <a class="dropdown-item" [routerLink]="['borc']">Borç Durumu</a>
                    <a class="dropdown-item" (click)="extra()" style="cursor: pointer">Diğerler</a>
                    <a class="dropdown-item" (click)="geri()" style="cursor: pointer"
                    >çıkış</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div style="background-color: antiquewhite; height: 400px;width:100%; padding-top: 50px
;padding-left: 100px">
Bitirme Projesi 2019-2020 Kocaeli Üniversitesi
</div>

